@import './fonts';
@import './veriables';
@import './mixn';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Space Mono';
}

.container {
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 20px;
}

@import './about-blocks/about-blocks';

.btn {
    max-width: 180px;
    background-color: #FCB72B;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    padding: 14px 39px;
    transition: 1s;
}
.btn:hover {
    transform: scale(1.2, 1.3)
}