.article {
    background-image: url('../../images/article.jpg');
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 300px;
    margin: 0 auto;
    padding-top: 102px;

    @include for-large-tablet {
        padding-top: 50px;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include for-large-tablet {
            flex-direction: column;
            text-align: center;
            row-gap: 40px;
        }
    }

    h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #FFFFFF;
        max-width: 415px;

        @include for-phone {
            font-size: 32px;
            line-height: 32px;
        }
    }

    img {

        @include for-phone {
            max-width: 257px;
        }
    }
}