.our__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: $heading-color;
}
.our {
    display: flex;
    justify-content: space-between;
    text-align: center;

    @include for-large-tablet {
        flex-direction: column;
        row-gap: 30px;
    }

    img {
        @include for-phone {
            max-width: 311px;
        }
    }

    h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: $heading-color;
        padding: 32px 0 27px 0;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        max-width: 350px;
        margin: 0 auto ;
        @include for-large-tablet {
            max-width: 457px;
        }
    }
}