.work {
    position: relative;
    max-width: 1440px;
    margin: 120px auto;

    &__img-1 {
        position: absolute;
        right: 0;
        top: -1%;
        @include for-phone {
            display: none;
        }
    }
    &__img-2 {
        position: absolute;
        left: 0;
        top: 55%;
        @include for-phone {
            display: none;
        }
    }
    &__img-3 {
        display: none;
        @include for-phone {
            display: block;
            position: absolute;
            right: 0;
            top: 12%;
        }
        
    }
    &__img-4 {
        display: none;
        @include for-phone {
            position: absolute;
            left: 0;
            display: block;
            top: 57%;
        }
        
    }
}

.works {
    display: flex;
    flex-wrap: wrap;
    row-gap: 128px;
    
    

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        @include for-large-tablet {
            flex-direction: column;
            text-align: center;
            row-gap: 45px;
        }

        img {
            @include for-phone {
                width: 311px;
            }
        }
    }

    &__box-1 {
        @include for-large-tablet {
            flex-direction: column-reverse;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: $heading-color;
        max-width: 445px;
        padding-bottom: 24px;
        @include for-large-tablet {
            max-width: 573px;
        }
        @include for-phone {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42857px;
        max-width: 311px;
        margin: 0 auto;
        }
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        max-width: 445px;
        color: #939CAA;
        @include for-large-tablet {
            max-width: 573px;
        }
        @include for-phone {
            font-size: 15px;
            line-height: 25px;
            max-width: 311px;
            margin: 0 auto;
        }
    }
}